<div id="resetPassword">
    <p class="subtitle is-6 has-text-weight-bold has-text-centered">Change of Password</p>
    <form id="resetPasswordForm" method="POST">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <div class="field">
            <div class="control has-icons-left has-icons-right">
                <input id="password" name="password" class="input" type="password" placeholder="New Password">
                <span class="icon is-small is-left">
                    <i class="fas fa-key"></i>
                </span>

                {{!-- <div class="showPasswordContainer">
                    <small class="has-text-grey unselectable" id="showPassword" style="cursor: pointer;"><i
                            id="icon-showPassword" class="fas fa-eye-slash"></i>&ensp;<span id="showPasswordText">Hold
                            to
                            show
                            password</span></small>
                </div> --}}
            </div>
        </div>
        <br>
        <button class="button is-primary is-fullwidth">
            <span>Continue&ensp;<i class="fas fa-arrow-right"></i></span>
        </button>
    </form>
    <hr>
    <div class="has-text-centered">
        <a class="has-text-danger" data-pjax='main' href="/id/login"><i class="fas fa-times"></i> Cancel</a>
    </div>
</div>
