<div class="container">
    <div class="box p-6 is-glass-white">
        <h2 class="title is-2">Welcome back</h2>
        <p class="subtitle">Sign in to your Tourisit ID</p>
        {{#ifEquals notifs "OK_EMAIL_CONFIRMED"}}
        <div id="emailConfirmed" class="notification is-success">
            Your email has been verified.
        </div>
        {{/ifEquals}}
        {{#ifEquals notifs "OK_PWD_RESET"}}
        <div class="notification is-success">
            You may now login with your new password.
        </div>
        {{/ifEquals}}
        {{#ifEquals notifs "ERR_CREDS_INVALID"}}
        <div id="badLogin" class="notification is-danger">
            Email or password is incorrect.
        </div>
        {{/ifEquals}}
        {{#ifEquals notifs "ERR_TOKEN_INVALID"}}
        <div id="badLogin" class="notification is-danger">
            Password reset link is either invalid or expired.
            <br>
            Please request for a new one.
        </div>
        {{/ifEquals}}
        {{#ifEquals notifs "ERR_ALREADY_LOGGEDOUT"}}
        <div id="badLogin" class="notification is-danger">
            Already logged out.
        </div>
        {{/ifEquals}}
        <form method="POST">
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <div class="field">
                <label class="label">Email</label>
                <div class="control has-icons-left has-icons-right">
                    <input name="email" class="input" type="email" placeholder="lee@example.com">
                    <span class="icon is-small is-left">
                        <i class="fas fa-user"></i>
                    </span>
                </div>
            </div>
            <div class="field mt-3">
                <label class="label">Password</label>
                <div class="control has-icons-left has-icons-right">
                    <input name="password" class="input" type="password" placeholder="••••••••••••">
                    <span class="icon is-small is-left">
                        <i class="fas fa-key"></i>
                    </span>
                </div>
            </div>
            <div class="field">
                <button class="button is-primary has-text-weight-medium" type="submit"><i
                        class="fas fa-arrow-right"></i>&ensp;Sign
                    in</button>
                <a class="button is-light" href="/id/recover"><i class="fas fa-life-ring"></i>&ensp;I can't sign
                    in</a>
            </div>
        </form>
    </div>
    <div class="has-text-centered has-text-dark">
        <p><i class="fas fa-user-plus"></i>&ensp;New to Tourisit?&ensp;<b><a href="/id/register">Join now</a></b>
        </p>


    </div>
    <p class="has-text-centered">
        <br>
        <a class="has-text-danger" href="/"><i class="fas fa-long-arrow-alt-left"></i>&ensp;Return to
            Tourisit</a>
    </p>
</div>