<div class="container">
    <div class="box p-6 is-glass-white">
        <h2 class="title is-2">Hello, welcome!</h2>
        <p class="subtitle">Create a Tourisit ID</p>
        <form>
            <div class="field">
                <label class="label">Email</label>
                <div class="control has-icons-left has-icons-right">
                    <input class="input" type="text" placeholder="lee@example.com">
                    <span class="icon is-small is-left">
                        <i class="fas fa-user"></i>
                    </span>
                </div>
            </div>
            <div class="field mt-3">
                <label class="label">Password</label>
                <div class="control has-icons-left has-icons-right">
                    <input class="input" type="text" placeholder="••••••••••••">
                    <span class="icon is-small is-left">
                        <i class="fas fa-key"></i>
                    </span>
                </div>
            </div>
            <div class="field">
                <button class="button is-primary has-text-weight-medium" type="submit"><i
                        class="fas fa-arrow-right"></i>&ensp;Sign
                    in</button>
                <a class="button is-light" href="/id/recover"><i class="fas fa-life-ring"></i>&ensp;I can't sign
                    in</a>
            </div>
        </form>
    </div>
    <div class="has-text-centered has-text-dark">
        <p><i class="fas fa-user"></i>&ensp;Already have an account?&ensp;<b><a href="/id/login">Login
                    instead</a></b></p>
    </div>
</div>