<head>
    <link rel='stylesheet' href='/css/profile.css'/>
</head>

<div class='column is-one-fifth'>
    <div class='profile-img-onprofile editable-img' id='renderImage' style="background-image: url('/static/users/{{uData.profile_img}}'); background-size: cover; ">
        <div class='middle has-text-centered'>
            <i class="profile-img-onprofile fas fa-camera fa-3x" id="editText" style="display: none; padding-top: 60px;"></i>
        </div>
    </div>
</div>

{{!-- Edit profile image form --}}
<form class="form-horizontal" enctype="multipart/form-data" method="POST" id='editpfpForm' action='/u/profile/edit/{{uData.id}}'>
    <input name="profile_img" type="file" accept="image/x-png,image/jpeg" hidden>
</form>


<script>
    $(document).ready(() => {
        $('#renderImage').on('click', () => {
            $('input[name=profile_img]').click()
        })

        $('input[name=profile_img]').on('change', () => {
            $('#editpfpForm').submit()
        })

        $('.editable-img').on('mouseover', () => {
            $('#renderImage').css({ "z-index": 2})
            $('#editText').css({"color": "white", "z-index": 2, "background": "black", "opacity": 0.8})
            $('#editText').show()
        })

        $('.editable-img').on('mouseout', () => {
            $('#renderImage').css({"background-color": "", "opacity": 1.0})
            $('#editText').hide()
        })
    })
</script>
