<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Copyright &copy; Tourisit</strong><br>
      <span>All rights reserved</span>
      {{!-- Someone please change this footer. This is here because I just want to get shit done. CHANGE LATER!!! --}}
    </p>
  </div>
</footer>