<div class="column is-one-quarter">
    <div class="skeleton-image"></div>
    <div class="skeleton-title short"></div>
</div>
<div class="column is-one-quarter">
    <div class="skeleton-image"></div>
    <div class="skeleton-title long"></div>
</div>
<div class="column is-one-quarter">
    <div class="skeleton-image"></div>
    <div class="skeleton-title medium"></div>
</div>
<div class="column is-one-quarter">
    <div class="skeleton-image"></div>
    <div class="skeleton-title long"></div>
</div>

<div class="column is-one-quarter">
    <div class="skeleton-image"></div>
    <div class="skeleton-title long lighter"></div>
</div>
<div class="column is-one-quarter">
    <div class="skeleton-image"></div>
    <div class="skeleton-title medium lighter"></div>
</div>
<div class="column is-one-quarter">
    <div class="skeleton-image"></div>
    <div class="skeleton-title short lighter"></div>
</div>
<div class="column is-one-quarter">
    <div class="skeleton-image"></div>
    <div class="skeleton-title medium lighter"></div>
</div>