<a class="listing-clickable">
    <div class="box listing-image-horizontal" style="background-image: url('/static/sample-listing.jpg')">
        <div>
            <p class="content has-text-white is-size-5">
                <strong>{{this.name}}</strong>・{{this.place}}
            </p>
        </div>
    </div>
</a>
<br>