<div class="column is-one-quarter">
    <a class="listing-clickable">
        <div class="box listing-image" style="background-image: url('/static/sample-listing.jpg')">
            <div>
                <p class="content has-text-white">
                    {{this.desc}}
                </p>
            </div>
        </div>
        <h3 class="title">{{this.name}}</h3>
        <h4 class="subtitle has-text-grey"><i class="fas fa-location-arrow"></i>&nbsp;{{this.place}}</h4>
    </a>
</div>
