<a class="listing-clickable" href='/listing/info/{{this.id}}'>
    <div class="box listing-image-horizontal" style="background-image: url('/static/listings/{{this.tourImage}}'); padding: 50px;">
        <div>
            <p class="content has-text-white is-size-5">
                <strong>{{this.tourTitle}}</strong>
            </p>
        </div>
    </div>
</a>
<br>