<nav data-turbolinks-permanent class="navbar is-white has-shadow" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="/tourguide">
                <img src="/static/logo-dark.png">
                {{!-- <span class="is-family-secondary has-text-weight-semibold has-text-grey-darker">Koukyo コウキョ</span>
                --}}
            </a>
            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div class="navbar-menu">
            <div class="navbar-end">
                <div class="navbar-item has-dropdown is-hoverable">
                    <div class="has-background-primary-dark navbar-item has-text-white pl-4 pr-4"><i
                            class="fas fa-store"></i>&ensp;Tour Guide Mode
                    </div>

                    <div class="navbar-dropdown is-boxed">
                        <a class="navbar-item has-text-danger-dark" href="/">
                            <i class="fas fa-times-circle"></i>&ensp;Return to User mode
                        </a>
                    </div>
                </div>
            </div>
            <div class="navbar-item has-dropdown is-hoverable has-background-dark">
                <div class="navbar-item">
                    <div class="profile-img"
                        style="background-image: url('/static/users/{{ data.currentUser.profile_img }}')"></div>
                </div>

                <div class="navbar-dropdown is-boxed is-right is-glass-white">
                    <div class="has-background-light p-4 mb-2 has-text-black">
                        <p class="has-text-weight-bold">Logged in as</p>
                        <p>{{ data.currentUser.name }}</p>
                    </div>
                    <hr class="navbar-divider">
                    <a href="/id/logout" class="navbar-item has-text-danger-dark">
                        <i class="fas fa-sign-out-alt"></i>&ensp;Sign out
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>