<style>
    .rating_star {
        cursor: pointer;
        color: #ffdf00;
    }
</style>
<div class="modal is-active" id="ReviewModal" style="display: none;">
    <div class="modal-background" onclick="$('#ReviewModal').fadeOut('fast');"></div>
    <div class="modal-content">
        <div class="box">

            {{#ifEquals data.currentUser.id data.book.custId}}

            <div class="content has-text-centered">
                <h1>Review {{data.book.[Shop.tourTitle]}}</h1>
            </div>
            {{/ifEquals}}

            {{#ifEquals data.currentUser.id data.book.tgId}}
            <div class="content has-text-centered">
                <h1>Rate your Experience with {{data.cust.name}}</h1>
            </div>
            {{/ifEquals}}

            <form id='review_form' method="POST" action="/bookings/{{data.book.bookId}}/review-tour">
                <fieldset>
                    <div class="field has-text-centered">
                        {{!-- for now --}}
                        {{!-- <select name="rating">
                            <option value="1">1 star</option>
                            <option value="2">2 star</option>
                            <option value="3">3 star</option>
                            <option value="4">4 star</option>
                            <option value="5">5 star</option>
                        </select> --}}
                        <div class="rating">
                            <i class="rating_star far fa-star fa-3x"></i>
                            <i class="rating_star far fa-star fa-3x"></i>
                            <i class="rating_star far fa-star fa-3x"></i>
                            <i class="rating_star far fa-star fa-3x"></i>
                            <i class="rating_star far fa-star fa-3x"></i>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label" for="review">How was the experience?</label>
                        <div class="control">
                            <textarea class="textarea" name="reviewText" placeholder="I enjoyed.." rows="5"
                                cols="50"></textarea>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label" for="review-submit"></label>
                        <div class="control">
                            <input id="review-submit" name="review-submit" type="submit"
                                class="button is-success is-medium is-fullwidth">
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>

<script>
    const ratingStars = [...document.getElementsByClassName("rating_star")];

    function executeRating(stars) {
        const starClassActive = "rating_star fas fa-star fa-3x";
        const starClassInactive = "rating_star far fa-star fa-3x";
        const starsLength = stars.length;
        let i;
        stars.map((star) => {
            star.onclick = () => {
                i = stars.indexOf(star);

                if (star.className === starClassInactive) {
                    for (i; i >= 0; --i) stars[i].className = starClassActive;
                } else {
                    for (i; i < starsLength; ++i) stars[i+1].className = starClassInactive;
                }
            };
        });
    }
    executeRating(ratingStars);
</script>