<aside data-turbolinks-permanent class="column is-3 has-background-dark chat-sidebar p-5">
    <nav data-turbolinks-permanent class="menu">
        <p class="menu-label">
            Your chats
        </p>
        <ul class="menu-list">
            {{#each data.availableChats}}
            <li>
                <a href="/messages/{{this.chatId}}" class="{{#ifEquals this.chatId @root.nav.chatSidebar}}is-active{{else}}has-background-dark{{/ifEquals}}
                    has-text-white">
                    {{#ifEquals this.receiverName "SYSTEM"}}
                    Tourisit System<span class="ml-3 tag is-danger"><i class="fas fa-user-shield"></i>&nbsp;Staff</span>
                    {{else}}
                    {{this.receiverName}}
                    {{/ifEquals}}
                </a>
            </li>
            {{/each}}
        </ul>
    </nav>
</aside>