<aside data-turbolinks-permanent class="column is-3 has-background-dark chat-sidebar p-5">
    <nav data-turbolinks-permanent class="menu">
        <p class="menu-label">
            Your chats
        </p>
        <ul class="menu-list">
            {{#each data.availableChats}}
            <li>
                <a href="./{{this.chatId}}" class="{{#ifEquals this.chatId @root.nav.chatSidebar}}is-active{{else}}has-background-dark{{/ifEquals}}
                    has-text-white">
                    {{this.receiverName}}
                </a>
            </li>
            {{/each}}
        </ul>
    </nav>
</aside>