<head>
    <style>
        .table-throw {
            font-size: 8rem;
            font-family: "Inter", "Noto Sans JP", sans-serif;
        }

        @media only screen and (max-width: 768px) {
            .table-throw {
                font-size: 5rem;
            }
        }
    </style>
</head>

<div>
    <section class="section is-medium">
        <div class="container has-text-centered">
            <h1 class="title is-5 has-text-dark">404 — Page not found</h1>
            <h1 class="title table-throw has-text-grey-light">(〃▽〃)</h1>
            <br>
            <p class="subtitle has-size-4"></p>
            <br>
            <a href="/" class="button is-light">
                <span class="icon is-small">
                    <i class="fas fa-home"></i>
                </span>
                <span>Return to civilisation</span>
            </a>
        </div>
    </section>

    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">
</div>