<link rel="stylesheet" href="/css/index.css">

<section id="main-hero" class="hero is-white is-large">
    <div class="hero-fadein"></div>
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title is-1 has-text-white">Tours for locals, by locals.</h1>
            <h2 class="subtitle is-3 has-text-white is-transparent-75">Explore Singapore with Tourisit today</h2>
        </div>
    </div>
</section>

{{!-- <section id="search-section" class="section after-main-hero">
    <div class="container">
        <div class="box p-6">
            <h2 class="title"><i class="fas fa-search"></i>&ensp;Find your ideal tour</h2>
            <p class="subtitle">There's always a tour for everyone.</p>
        </div>
    </div>
</section> --}}

<main id="index-section" class="section">
    <div class="container">
        <div class="columns is-multiline">
            <div class="column is-one-third">
                <div class="box p-6">
                    
                </div>
            </div>
            <div class="column is-one-third">
                <div class="box p-6">
                    
                </div>
            </div>
            <div class="column is-one-third">
                <div class="box p-6">
                    
                </div>
            </div>
            <div class="column is-one-third">
                <div class="box p-6">
                    
                </div>
            </div>
            <div class="column is-one-third">
                <div class="box p-6">
                    
                </div>
            </div>
            <div class="column is-one-third">
                <div class="box p-6">
                    
                </div>
            </div>
        </div>
    </div>
</main>