<link rel='stylesheet' href='../third_party/alex/market.css'>


<section class="hero small-hero-market is-success has-text-centered">
  <div class='columns'>
      <div class='column is-6 is-offset-1' id='market-banner'>
            <div class="hero-body">
                <p class="title" id='market-title'>
                Search for your Ideal Tour
                </p>
                <p class="subtitle is-4">
                Browse new tours
                </p>
            </div>
      </div>
  </div>
</section>



<div class='container market-searchbox'>
    <p class="control has-icons-left">
    <input class="input" type="text" placeholder="Search">
    <span class="icon is-left">
        <i class="fas fa-search" aria-hidden="true"></i>
    </span>
    </p>
</div>



<main id="index-section" class="section">
    <div class="container market-listing-container">
        <div class="columns is-multiline is-variable is-5">
            {{#each listings}}
            {{>listingCard}}
            {{/each}}
        </div>
    </div>
</main>

