<div class='section'>
    <div class='card'>
        <div class='is-center'>
            <form method="POST" action="/listing/stripe-create-account"><input type="submit"></form>
        </div>
        
    </div>
</div>