<div class='section has-content-centered'>
    <div class="container">
        <div class='card is-centered'>
            <div class='card-content'>
                <div class='content'>
                    <p class='has-text-centered subtitle'>Set up Stripe Payment Account to receive payouts</p>
                </div>
                <div class='content' style="text-align: center;">
                    <form method="POST" action="/listing/stripe-create-account"><input type="submit" class='button is-success' value="Setup Payment Account"></form>
                </div>
            </div>
        </div>
    </div>
</div>