{{#if (isDefined supportErrors)}}
{{#if (haveErr supportErrors)}}
<div id="errorSupport" class="notification is-danger">
    {{#each supportErrors}}
    <p>{{this.msg}}</p>
    {{/each}}
</div>

<script>
    $('#errorSupport').delay(10000).slideUp();
</script>
{{/if}}
{{/if}}

{{#if (isDefined successSupport)}}
{{#if (haveErr successSupport)}}
<div id="successSup" class="notification is-success">
    {{#each successSupport}}
    <p>{{this.msg}}</p>
    {{/each}}
</div>

<script>
    $('#successSup').delay(10000).slideUp();
</script>
{{/if}}
{{/if}}

<section class='section'>
	<div class='container'>
		<h1 class='is-size-3 has-text-weight-bold mt-6 has-text-centered is-vcentered'>Support & Help</h1>
	</div>
</section>

<div class='box' style='width: 50%; margin-left: 25%'>
	<form class='form-horizontal' method='POST'>
		<fieldset>
			<div class='field'>
				<label class='label'>What can we help you with?</label>
				<div class='select is-fullwidth'>
					<select name='type'>
						<option>General Enquiry</option>
						<option>Transaction Enquiry</option>
						<option>Apply for Verified</option>
						<option>Others</option>
					</select>
				</div>
			</div>
			
			<div class='field'>
				<label class='label'>Message <label class='has-text-danger'>*</label></label>
				<div class='control'>
					<textarea name='content' class='textarea' rows='5' style='height: 150px;'></textarea>
				</div>
			</div>
			<div class='field has-text-centered mt-6'>
				<div class='control'>
					<input type='submit' value='Submit' id='supportbtn' name='supportbtn' class='button is-success is-medium' style='width:20%;' />
				</div>
			</div>
		</fieldset>
	</form>
</div>
