/* Place your app specific css here. */

/* @import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
* {
    font-family: 'Cabin', sans-serif;
}

.is-transparent-75 {
    opacity: .75;
}

.is-glass-black {
    background: rgba(0, 0, 0, 0.8) !important;
    -webkit-backdrop-filter: saturate(180%) blur(12px);
    backdrop-filter: saturate(180%) blur(12px);
}

.is-glass-white {
    background: rgba(255, 255, 255, 0.8) !important;
    -webkit-backdrop-filter: saturate(180%) blur(12px);
    backdrop-filter: saturate(180%) blur(12px);
}

.box {
    box-shadow: 0px 4px 16px rgba(17,17,26,0.05), 0px 8px 32px rgba(17,17,26,0.05);
}

.listing-image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 20rem;
}

.listing-clickable .listing-image {
    transition: ease .5s all;
    background-color: rgba(0, 0, 0, .0) !important;
    background-blend-mode: overlay !important;
}

.listing-clickable:hover .listing-image {
    transform: scale(1.025);
    background-color: rgba(0, 0, 0, .5) !important;
    background-blend-mode: overlay !important;
}

.listing-clickable .listing-image>div {
    transition: ease .5s opacity;
    opacity: .0;
}

.listing-clickable:hover .listing-image>div {
    opacity: .8;
}

.listing-clickable .subtitle {
    overflow: hidden;
    text-overflow: ellipsis;
}

.menu-list a, .menu-list a.is-active {
    transition: all .35s ease !important;
}