/* Place your app specific css here. */


@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');
@import url('/css/listing.css');
@import url('/css/dashboard.css');
@import url('/css/navbar.css');
@import url('/css/chat.css');

* {
    font-family: 'Red Hat Display', sans-serif;
}

.is-transparent-75 {
    opacity: .75;
}

.is-glass-black {
    background: rgba(0, 0, 0, 0.8) !important;
    -webkit-backdrop-filter: saturate(180%) blur(12px);
    backdrop-filter: saturate(180%) blur(12px);
}

.is-glass-white {
    background: rgba(255, 255, 255, 0.90) !important;
    -webkit-backdrop-filter: saturate(180%) blur(12px);
    backdrop-filter: saturate(180%) blur(12px);
}

.box {
    box-shadow: 0px 4px 16px rgba(17,17,26,0.05), 0px 8px 32px rgba(17,17,26,0.05) !important;
}