.chat-sidebar {
    height: 80vh;
    overflow-y: auto;
}

.message-container {
    position: relative;
}

.message-bubble {
    padding: .5rem 1rem;
    border-radius: 1.25rem;
    overflow-wrap: break-word;
}

.message-bubble p {
    hyphens: auto;
}

.message-bubble.receive {
    /* position: absolute;
    left: 0; */
    margin-right: auto;
    width: 40%;
    border-bottom-left-radius: 8px;
    background-color: #fafafa;
}

.message-bubble.send {
    /* position: absolute;
    right: 0; */
    margin-left: auto;
    width: 40%;
    text-align: right;
    border-bottom-right-radius: 8px;
    background-color: #363636;
    color: #fff
}

.message-bubble.send.sending, .timeline-item.sending {
    opacity: 0.35;
}

.message-input {
    position: absolute;
    bottom: 0.5rem;
    left: 1rem;
    width: calc(100% - 1rem);
}

.chat-background {
    margin-bottom: -12rem;
    height: 13rem
}

#message-container-display {
    overflow-y: scroll;
    height: 80vh;
    padding-bottom: 5rem;
    padding-right: 2rem;
}

/* width */

#message-container-display::-webkit-scrollbar {
    width: 10px;
}

/* Track */

#message-container-display::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */

#message-container-display::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */

#message-container-display::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* .chat-box {
    animation: bigToSmall .4s ease;
} */

@keyframes bigToSmall {
    0% {
        opacity: 0;
        transform: scale(1.2)
    }
    ;
    100% {
        opacity: 1;
        transform: scale(1)
    }
}