.listing-image-horizontal {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 1rem; */
}

.listing-clickable .listing-image-horizontal {
    background-color: rgba(0, 0, 0, .5) !important;
    background-blend-mode: overlay !important;
}

.menu-list a, .menu-list a.is-active {
    transition: all .35s ease !important;
}

.menu-list .fas {
    width: 1.25rem;
    text-align: center;
}

:root {
    --skeleton-color: rgba(0,0,0,0.08);
}

.skeleton-text.small {
    height: 11px;
    width: 4.5rem;
    background: var(--skeleton-color);
    margin-bottom: 0.5rem;
    border-radius: 999999px;
    animation: infinite blinkFade 1.25s ease-in-out;
}

.skeleton-text.value {
    height: 2rem;
    width: 4rem;
    background: var(--skeleton-color);
    margin-bottom: 2rem;
    border-radius: 999999px;
    animation: infinite blinkFade 1.25s ease-in-out;
}

.skeleton-text.value.small {
    height: 1.25rem;
    width: 3rem;
    background: var(--skeleton-color);
    margin-bottom: 0.25rem;
    border-radius: 999999px;
    animation: infinite blinkFade 1.25s ease-in-out;
}

.skeleton-chart {
    height: 250px;
    /* width: 300px; */
    background: var(--skeleton-color);
    margin-bottom: 0.25rem;
    border-radius: 8px;
    animation: infinite blinkFade 1.25s ease-in-out;
}

@keyframes blinkFade {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }
}