.hero-fadein {
    height: 15rem;
    background: linear-gradient(0deg, transparent 0, #0a0a0a 100%);
}

.listing-image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 20rem;
}

.listing-clickable .listing-image {
    transition: ease .5s all;
    background-color: rgba(0, 0, 0, .0) !important;
    background-blend-mode: overlay !important;
}

.listing-clickable:hover .listing-image {
    transform: scale(1.025);
    background-color: rgba(0, 0, 0, .5) !important;
    background-blend-mode: overlay !important;
}

.listing-clickable .listing-image>div {
    transition: ease .5s opacity;
    opacity: .0;
}

.listing-clickable:hover .listing-image>div {
    opacity: .8;
}

.listing-clickable .subtitle {
    overflow: hidden;
    text-overflow: ellipsis;
}

#toolbar {
    box-shadow: 0px 4px 16px rgb(17 17 26 / 5%), 0px 8px 32px rgb(17 17 26 / 5%) !important
}