.profile-img {
    height: 2rem;
    width: 2rem;
    border: 1px rgb(12, 12, 12) lid;
    border-radius: 99999px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
