.profile-img-onprofile {
	height: 180px;
	width: 180px;
	border: 7px rgb(255, 255, 255) solid;
	border-radius: 99999px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.profile-img-onprofile-edit {
	height: 180px;
	width: 180px;
	border-radius: 99999px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
