<head>
    <link rel='stylesheet' href='/third_party/alex/listing.css'>
</head>



<section class="section has-background-white">
    <div class="container">
        <h1 class="is-size-1 has-text-weight-bold mt-6">My tours</h1>
    </div>
</section>


<section class='section'>
    <div class='container'>
        {{#if (emptyArr datas)}}
        <p class="subtitle">You haven't added any Tours yet</p>
        <a href='/listing/create'>
            <button class='button is-success is-outlined'>
                <span class='icon'>
                    <i class="fas fa-plus"></i>
                </span>
                <span>
                    Add a Tour
                </span>
            </button>
        </a>
        {{else}}

        {{#each datas}}
    
            <div class='listing-banner'>
                <a class='listing-link' href='/listing/info/{{this.id}}'>
                    <p class='title is-5'>{{this.tourTitle}}</p>
                </a>
            </div>

        {{/each}}

        {{/if}}

    </div>
</section>