<head>
    <link rel='stylesheet' href='/third_party/alex/listing.css'>
</head>



<section class="section has-background-white">
    <div class="container">
        <h1 class="is-size-1 has-text-weight-bold mt-6">My tours</h1>

        {{#if (emptyArr datas)}}
        {{else}}
        <a href='/listing/create'>
            <button class='button is-success is-outlined is-pulled-right'>
                    <span class='icon'>
                        <i class="fas fa-plus"></i>
                    </span>
                    <span>
                        Add a Tour
                    </span>
            </button>
        </a>
        {{/if}}
    </div>
</section>


<section class='section'>
    <div class='container'>
        {{#if (emptyArr datas)}}
        <p class="subtitle">You haven't added any Tours yet</p>
        <a href='/listing/create'>
            <button class='button is-success is-outlined'>
                <span class='icon'>
                    <i class="fas fa-plus"></i>
                </span>
                <span>
                    Add a Tour
                </span>
            </button>
        </a>
        {{else}}

        {{#each datas}}
        {{>listingCardHorizontal}}

        {{/each}}

        {{/if}}

    </div>
</section>