<h1 class="title">Archived listings</h1>
<p class="subtitle">Listings that are archived are not publicly displayed and cannot accept any new bookings.</p>
{{#each listing}}
{{>listingCardHorizontal}}
{{/each}}