<h1 class="title">Transfer History</h1>
<a class="button is-rounded is-outlined" href={{ data.accLink.url }} target="_blank">View Account Details</a>
<table class="table is-fullwidth">
    <tr>
        <th>Date</th>
        <th>Amount</th>
        <th>Status</th>
    </tr>
    {{#each data.history}}
    <tr>
        <td>{{timestampParseISO this.created }}</td>

        <td>${{ divide this.amount 100 }}</td>

        {{#ifEquals this.reversed false}}
        <td class="has-text-success-dark"><i class="fas fa-check-circle"></i>&nbsp;Completed</td>
        {{else}}
        <td class="has-text-warning-dark"><i class="fas fa-clock"></i>&nbsp;Reversed</td>
        {{/ifEquals}}
    </tr>
    {{/each}}
</table>