{{#if (isDefined passwordErrors)}}
	{{#if (haveErr passwordErrors)}}
		<div class='section'>
			<div class='columns'>
				<div class='column is-8'>
					<article class='message is-danger'>
						<div class='message-header'>
							<p>Errors</p>
							<button class='delete' onclick='this.parentElement.parentElement.remove()'></button>
						</div>
						<div class='message-body'>
							{{#each passwordErrors}}
								<blockquote>{{this.msg}}</blockquote>
							{{/each}}
						</div>
					</article>
				</div>
			</div>
		</div>
	{{/if}}
{{/if}}
<div class='box'>
	<p class='is-size-5 has-text-weight-bold'>Update Password?</p>
	<p>Feel free to change your password anytime.</p>
	<form class='form-horizontal' method='POST' id='passwordForm'>
		<div class='field'>
			<label class='label has-text-weight-medium has-text-grey-dark' for='old_password'>Current Password:</label>
			<div class='control'>
				<input class='input' type='password' style='height:50px;' name='old_password' />
			</div>
		</div>
		<div class='field'>
			<label class='label has-text-weight-medium has-text-grey-dark' for='password'>New Password:</label>
			<div class='control'>
				<input class='input' type='password' style='height:50px;' name='new' />
			</div>
		</div>
		<div class='field'>
			<label class='label has-text-weight-medium has-text-grey-dark' for='confirm'>Confirm New Password:</label>
			<div class='control'>
				<input class='input' type='password' style='height:50px;' name='confirm' />
			</div>
		</div>
		<div class='field is-pulled-right'>
			<div class='control'>
				<button class='button is-success is-medium' type='submit'>Submit</button>
			</div>
		</div>
	</form>
</div>