{{#if (isDefined passwordErrors)}}
{{#if (haveErr passwordErrors)}}
<div id="errorMessage" class="notification is-danger">
	{{#each passwordErrors}}
	<p>{{this.msg}}</p>
	{{/each}}
</div>
<script>
	$('#errorMessage').delay(10000).slideUp();
</script>
{{/if}}
{{/if}}

{{#if (isDefined passwordSuccess)}}
{{#if (haveErr passwordSuccess)}}
<div id="errorMessage" class="notification is-success">
	{{#each passwordSuccess}}
	<p>{{this.msg}}</p>
	{{/each}}
</div>
<script>
	$('#errorMessage').delay(10000).slideUp();
</script>
{{/if}}
{{/if}}
<div class='container'>
	<h2 class='title'>Change password</h2>
	<form class='form-horizontal' method='POST' id='passwordForm'>
		<div class='field'>
			<label class='label has-text-weight-medium has-text-grey-dark' for='old_password'>Current Password:</label>
			<div class='control'>
				<input class='input is-rounded' type='password' style='height:40px; width:50%;' name='old_password'>
			</div>
		</div>
		<div class='field'>
			<label class='label has-text-weight-medium has-text-grey-dark' for='password'>New Password:</label>
			<div class='control'>
				<input class='input is-rounded' type='password' style='height:40px; width:50%;' name='new'>
			</div>
		</div>
		<div class='field'>
			<label class='label has-text-weight-medium has-text-grey-dark' for='confirm'>Confirm New Password:</label>
			<div class='control'>
				<input class='input is-rounded' type='password' style='height:40px; width:50%;' name='confirm'>
			</div>
		</div>
		<div class='field'>
			<div class='control'>
				<button class='button is-light' type='submit'><i class="fas fa-key"></i>&ensp;Change Password</button>
			</div>
		</div>
	</form>
</div>