
		<div class='box'>
			<p class='is-size-5 has-text-weight-bold'>Update Password?</p>
			<p>Feel free to change your password anytime.</p>
			<form class='form-horizontal' method='POST'>
				<div class="field">
                        <label class="label has-text-weight-medium has-text-grey-dark" for="old_password">Current Password:</label>
                        <div class="control">
					    <input class='input' type='password' style='height:50px;' name="old_password">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label has-text-weight-medium has-text-grey-dark" for="password">New Password:</label>
                        <div class="control">
                            <input class='input' type='password' style='height:50px;' name="new">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label has-text-weight-medium has-text-grey-dark" for="confirm">Confirm New Password:</label>
                        <div class="control">
                            <input class='input' type='password' style='height:50px;' name="confirm">
                        </div>
                    </div>
                    <div class="field is-grouped is-grouped-centered mt-5 has-text-centered">
                        <div class="control">
                            <button class="button is-danger is-light" id="closebtn">
                                Cancel
                            </button>
                        </div>

			</form>
		</div>
