<section class='section is-medium'>
	<div class='container profile-container box p-6' style=''>
		<div class='profile-card-blur'></div>
		<div class='columns is-vcentered' style='position: inherit; z-index: 1'>
			<div class='column is-one-fifth'>
				<div class='profile-img-onprofile' style=''></div>
			</div>
			<div class='column'>
				<p class='title is-1 has-text-white'>

					<span class='tag is-success'>
						<i class='fas fa-check'></i>&ensp;Verified Guide
					</span>

					<span class='tag is-danger is-dark'>
						<i class='fas fa-id-badge'></i>&ensp;Tourisit Admin
					</span>

				</p>
				<p id='bioContainer' class='is-size-5 has-text-grey-lighter'>
					&nbsp;
					<span class='has-text-grey'>
						<i onclick="$('#bioContainer').fadeOut('fast', () => { $('#bioEditFormContainer').slideDown() });" class='fa fa-edit'></i>
					</span>

				</p>

				<div id='bioEditFormContainer' style='display: none;'>
					<form class='form-horizontal' action='/users/profile' method='POST'>
						<fieldset>
						</fieldset>
					</form>
				</div>

				<a href='' id='reportbtn'>
					<button class='button is-danger is-outlined mt-4'>Report Abuse</button>
				</a>

				<div class='field is-grouped mt-3'>
					<a id='fb' href=''>
						<i class='fab fa-facebook-square fa-2x' style='color: #3B5998;'></i>
					</a>

					<a id='fb' href='{'>
						<i class='fab fa-instagram-square fa-2x' style='color: #DD2A7D;'></i>
					</a>

					<a id='fb' href=''>
						<i class='fab fa-linkedin fa-2x' style='color: #0077B5;'></i>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>

<section class='section'>
	<div class='container'>
		<div class='columns is-multiline'>

		</div>
	</div>
</section>
<section class='section'>
	<div class='container'>
		<!--Reviews as a Customer-->
		<div>
			<p class='has-text-weight-medium has-text-grey-dark'> as a Customer</p>
		</div>

		<!--Reviews as a tour guide-->
		<div>
		</div>
	</div>
</section>