<head>
	<link rel='stylesheet' href='/third_party/bulma/bulma-switch/dist/css/bulma-switch.min.css' />
</head>
<!-- If validationErrors is defined and there are validationErrors -->
{{#if (isDefined validationErrors)}}
	{{#if (haveErr validationErrors)}}
		<div class='section'>
			<div class='columns'>
				<div class='column is-8 is-offset-2'>
					<article class='message is-danger'>
						<div class='message-header'>
							<p>Errors</p>
							<button class='delete' onclick='this.parentElement.parentElement.remove()'></button>
						</div>
						<div class='message-body'>
							{{#each validationErrors}}
								<blockquote>{{this.msg}}</blockquote>
							{{/each}}
						</div>
					</article>
				</div>
			</div>
		</div>
	{{/if}}
{{/if}}

<section class='section has-background-white' style='width:70%; margin-left: 15%;'>
	<div class='container'>
		<h2 class='is-size-3 has-text-weight-bold'>Account Settings</h2>
		<h6>Change your profile and account settings</h6>
	</div>
</section>

<div class='container'>
	<div class='columns'>
		<!-- Content -->
		<div class='box' style='width:75%; margin-left: 12.5%;'>
			<div class='column'>
				<!-- Update account settings -->
				<form class='form-horizontal' enctype='multipart/form-data' method='POST' id='editSettingForm'>

					<fieldset>
						<!-- Account Mode -->
						

						<div class='field'>
							<label class='has-text-weight-medium has-text-grey-dark' for='account_mode'>Tour Guide Mode:</label> &nbsp;
							<input class='switch is-rounded' id='account_mode' type='checkbox' name='account_mode' />
							<!-- Empty label -->
							<label class='has-text-weight-medium has-text-grey-dark' for='account_mode'></label>
						</div>
						<!-- Name -->
						<div class='field'>
							<label class='label has-text-weight-medium has-text-grey-dark' for='name'>Name</label>
							<div class='control'>
								<input class='input' type='text' style='height:50px;' />
							</div>
						</div>
						<!-- Profile Image -->
						<div class='field' id='pfp-input'>
							<label class='label has-text-weight-medium has-text-grey-dark' for='name'>Profile Image: </label>
							<div class='file has-name'>
								<label class='file-label'>
									<input class='file-input' type='file' name='resume' />
									<span class='file-cta'>
										<span class='file-icon'>
											<i class='fas fa-upload'></i>
										</span>
										<span class='file-label'>
											Choose a file…
										</span>
									</span>
									<span class='file-name'>
										No file chosen
									</span>
								</label>
							</div>
						</div>

						<!-- Password -->
						<div class='field is-horizontal'>
							<label class='label has-text-weight-medium has-text-grey-dark' for='password'>Password:
								<input
									class='button is-warning is-light'
									type='button'
									id='openbtn'
									name='openbtn'
									value='Change Password'
									onclick="$('#ChangePasswordModal').fadeIn('fast'); return false;"
								/>
							</label>
						</div>
						<!-- Email -->
						<div class='field'>
							<label class='label has-text-weight-medium has-text-grey-dark' for='email'>Email:</label>
							<div class='control'>
								<input class='input' type='text' style='height:50px;' />
							</div>
						</div>
						<!-- Phone Number -->
						<div class='field'>
							<label class='label has-text-weight-medium has-text-grey-dark' for='phone_number'>Phone Number:</label>
							<div class='control'>
								<input class='input' type='text' style='height:50px;' />
							</div>
						</div>

						<h1 class='is-size-4 has-text-left has-text-weight-bold pt-6 pb-4'>Social Networks
							<label class='is-size-6 has-text-danger has-text-weight-normal'> (Optional)</label>
						</h1>
						<!-- Facebook -->
						<div class='field'>
							<label class='label has-text-weight-medium has-text-grey-dark' for='name'>Facebook</label>
							<div class='control'>
								<input class='input' type='text' style='height:50px;' />
							</div>
						</div>
						<!-- Instagram -->
						<div class='field'>
							<label class='label has-text-weight-medium has-text-grey-dark' for='insta'>Instagram</label>
							<div class='control'>
								<input class='input' type='text' style='height:50px;' />
							</div>
						</div>
						<!-- LinkedIn -->
						<div class='field'>
							<label class='label has-text-weight-medium has-text-grey-dark' for='linkedin'>LinkedIn</label>
							<div class='control'>
								<input class='input' type='text' style='height:50px;' />
							</div>
						</div>
						<div class='field is-pulled-right'>
							<div class='control'>
								<input
									type='submit'
									value='Save Changes'
									id='submit-setting'
									name='submit-setting'
									class='button is-success is-medium'
									disabled
								/>
							</div>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
</div>

<div class='modal is-clipped is-active' id='ChangePasswordModal' style='display: none;'>
	<div class='modal-background'></div>
	<div class='modal-content'>
		<div class='box'>
			<p class='is-size-5 has-text-weight-bold has-text-centered'>Update Password?</p>
			<p class='has-text-centered'>Feel free to change your password anytime.</p>
			<form class='form-horizontal' method='POST'>

			</form>
		</div>
	</div>
	<button class='modal-close is-large' aria-label='close' onclick="$('#ChangePasswordModal').fadeOut('fast');"></button>
</div>
<!-- Retrieve selected file name-->
<script>
	const fileInput = document.querySelector('#pfp-input input[type=file]'); fileInput.onchange = () => { if (fileInput.files.length > 0) { const
	fileName = document.querySelector('#pfp-input .file-name'); fileName.textContent = fileInput.files[0].name; } }
</script>
<!-- Disabled button -->
<script>
	var somethingChanged = false; $(document).ready(function () { $('.formfield').change(function () { somethingChanged = true;
	$('#submit-setting').prop("disabled", false); }); });
</script>