<link rel='stylesheet' href='../../third_party/alex/market.css'>

<section class='hero is-danger-lighter wishlist-banner'>
    <p class='wishlist-title'>Wishlist 💕</p>
</section>

{{#if (emptyArr wishlist)}}
<div class='section has-text-centered'>
    <p class='subtitle is-4'>
        Wishlist is currently empty
    </p>
    <a class="button is-warning" href='/marketplace'>
        <span class="icon is-small">
            <i class="fas fa-cart-plus"></i>
        </span>
        <span>Browse Tours</span>
    </a>
</div>
{{else}}
<div class='section'>
    <div class='container'>
        <div class='box'>
            <div class="columns is-multiline is-variable is-5">
                {{#each wishlist}}
                {{>listingCard}}
                {{/each}}
            </div>
        </div>
    </div>
</div>
{{/if}}

