<link rel='stylesheet' href='../../third_party/alex/market.css'>

<section class='section has-background-black'>
    <div class='container'>
        <h1 class="title has-text-white is-2">Wishlist</h1>
        <p class="subtitle has-text-grey-light">Tours to save for later</p>
    </div>
</section>

{{#if (emptyArr wishlist)}}
<section class="section is-medium">
    <div class="container has-text-centered">
        <p class="title has-text-grey-light has-text-weight-bold" style="font-size: 4.5rem;">(」・﹏・)」</p>
        <p class="subtitle is-4 has-text-grey">Nothing to show<br><small>Start adding tours to your wishlist to keep for
                later.</small></p>
        <a href="/marketplace" class="button is-dark"><i class="fas fa-store"></i>&ensp;Explore tours</a>
    </div>
</section>
{{else}}
<div class='section'>
    <div class='container'>
        <div class="columns is-multiline is-variable is-5">
            {{#each wishlist}}
            {{>listingCard}}
            {{/each}}
        </div>
    </div>
</div>
{{/if}}